{% extends 'org_header.html'%}
{%load static%}
{%block content%}
<!DOCTYPE html>
<html lang="en">

<head>
    
</head>


<body>
   

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url('{% static 'img/bg-img/breadcumb3.jpg'%}');">
        <div class="bradcumbContent">
            
            <p><h2>Add Event</h2></p>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Login Area Start ##### -->
    <section class="login-area section-padding-100">
        <div class="container">
        {% if msg %}
          <h3 style="color: red;" align="center">{{msg}}</h3>
        {% else %}
          <h3 style="color: green;" align="center">{{msg1}}</h3>
        {% endif %}
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                   
                      
                        <!-- Login Form -->
                        <div class="login-form">
                            <form action="{% url 'org_add' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token%}
                              <div class="form-group">
                                    <label for="exampleInputPassword1">Event Name</label>
                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Name" name="c_name" required>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Event Description</label>
                                    <textarea type="text" class="form-control" id="exampleInputPassword1" placeholder="Event Description" name="c_desc" required></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Event Date</label>
                                    <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Start Date" name="c_date" required>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Event Types</label>
                                    <select class="form-control" name="category" required>
                                        <option>Select Types</option>
                                        {%for i in cat%}
                                        <option value="{{i.Name}}">{{i.Name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Image</label>
                                    <input type="file" class="form-control" id="exampleInputPassword1" name="c_image" required>
                                </div>
                                 <div class="form-group">
                                    <label for="exampleInputPassword1">Event Price</label>
                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Price" name="c_price" required>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Event Venue</label>
                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Venue" name="c_venue" required>
                                </div>
                                <button type="submit" class="btn oneMusic-btn mt-30" >Add event</button>
                            </form>
                        </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Login Area End ##### -->
   
</body>

</html>
{%endblock%}